.dark-vertion .mh-footer-address .mh-address-footer-item {
  -webkit-box-shadow: -1rem 0 3rem #000;
  box-shadow: -1rem 0 3rem #000;
}

.mh-footer ::-webkit-input-placeholder {
  opacity: 0.9;
}
.mh-footer :-ms-input-placeholder {
  opacity: 0.9;
}
.mh-footer ::-ms-input-placeholder {
  opacity: 0.9;
}
.mh-footer ::placeholder {
  opacity: 0.9;
}

.mh-footer :is(.form-control, .contact-message) {
  -webkit-box-shadow: 0 0px 2px 0 rgba(255, 255, 255, 0.8),
    0 0px 1px 1px rgba(255, 255, 255, 0.8);
  box-shadow: 0 0px 2px 0 rgba(255, 255, 255, 0.8),
    0 0px 1px 1px rgba(255, 255, 255, 0.8);
  background-color: transparent;
  border-color: transparent;
  border-radius: 4px;
  margin-bottom: 20px;
  width: 100%;
  padding: 20px;
  outline: 0;
}