<div class="mh-blog-item dark-bg">
  <img src="{{ headerImage }}" alt="" class="img-fluid" />
  <div class="blog-inner">
    <h2>
      <a>{{ title }}</a>
    </h2>
    <div class="mh-blog-post-info">
      <strong transloco="post_on"></strong><a>{{ date }}</a>
      <strong transloco="by"></strong
      ><a href="{{ authorGithub }}">{{ author }}</a>
    </div>
    <p class="blog-description">
      {{ description }}
    </p>
    <a
      href="https://raphael-vasseur.webou.net/language/fr/blog/bilan-stage-granaquest"
      transloco="read_more"
    ></a>
  </div>
</div>
