<body class="dark-vertion black-bg">
  <app-header></app-header>
  <app-home></app-home>
  <app-about></app-about>
  <app-services></app-services>

  <section class="mh-skills" id="mh-skills">
    <div class="container">
      <div class="row section-separator">
        <div class="col-sm-12 col-md-6">
          <div class="mh-skills-inner">
            <div class="mh-professional-skill">
              <h3
                transloco="hard_skills"
                [ngsReveal]="{ reset: true, cleanup: true }"
              ></h3>
              <div class="each-skills">
                <div
                  class="candidatos"
                  [ngsRevealSet]="{ reset: true, cleanup: true }"
                  [ngsInterval]="200"
                  [ngsSelector]="'.candidatos'"
                  *ngFor="let skill of techninalSkills"
                >
                  <div class="parcial">
                    <div class="info">
                      <div class="nome">{{ skill.title_en }}</div>
                      <div class="percentagem-num">{{ skill.skill }}%</div>
                    </div>
                    <div class="progressBar">
                      <div
                        class="percentagem"
                        [style]="{ width: skill.skill + '%' }"
                      ></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="mh-professional-skills">
            <h3
              transloco="soft_skills"
              [ngsReveal]="{ reset: true, cleanup: true }"
            ></h3>
            <ul class="mh-professional-progress">
              <li
                class="mh-professional-progress-item"
                [ngsRevealSet]="{ reset: true, cleanup: true }"
                [ngsInterval]="200"
                [ngsSelector]="'.mh-professional-progress-item'"
                [ngsSync]="true"
                *ngFor="let skill of professionalSkills"
              >
                <circle-progress
                  class="mh-progress mh-progress-circle"
                  [percent]="+skill.skill"
                  [subtitle]="skill.title_en"
                ></circle-progress>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="mh-experince" id="mh-experience">
    <div class="bolor-overlay">
      <div class="container">
        <div class="row section-separator">
          <div class="col-sm-12 col-md-6">
            <div class="mh-education">
              <h3
                transloco="cursuses"
                [ngsReveal]="{ reset: true, cleanup: true }"
              ></h3>
              <div class="mh-education-deatils">
                <div
                  [ngsRevealSet]="{ reset: true, cleanup: true }"
                  [ngsInterval]="200"
                  [ngsSelector]="'.mh-education-item'"
                  class="mh-education-item dark-bg"
                  *ngFor="let cursus of cursuses"
                >
                  <h4>
                    {{ cursus.title_en }} <a>{{ cursus.school }}</a>
                  </h4>
                  <div class="mh-eduyear">
                    {{ cursus.begin }}-{{ cursus.end }}
                  </div>
                  <p>{{ cursus.summary_en }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6">
            <div class="mh-work">
              <h3
                transloco="xps_pro"
                [ngsReveal]="{ reset: true, cleanup: true }"
              ></h3>
              <div class="mh-experience-deatils">
                <div
                  class="mh-work-item dark-bg"
                  [ngsRevealSet]="{ reset: true, cleanup: true }"
                  [ngsInterval]="200"
                  [ngsSelector]="'.mh-work-item'"
                  *ngFor="let xp of xps"
                >
                  <h4>
                    {{ xp.title_en }} <a>{{ xp.company }}</a>
                  </h4>
                  <div class="mh-eduyear">{{ xp.begin }} {{ xp.end }}</div>
                  <span transloco="xp_title"></span>
                  <p>{{ xp.summary_en }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- <section class="mh-blog" id="mh-blog">
    <div class="container">
      <div class="row section-separator">
        <div class="col-sm-12 section-title">
          <h3 transloco="featured_posts"></h3>
        </div>
        <app-blog-item
          class="col-sm-12 col-md-4 d-flex align-items-stretch"
          title="Le premier contact avec granaquest"
          date="06.07.20"
          description="Tout à commencer en juin 2020, lors d'un événement de job dating
                organisé par Ynov Toulouse Campus."
          headerImage="assets/img/granaquest-blog-post.jpeg"
        ></app-blog-item>
        <app-blog-item
          class="col-sm-12 col-md-4 d-flex align-items-stretch"
          title="Ma première semaine chez granaquest"
          date="15.07.20"
          description="Lors de ma première semaine, je me suis très vite familiarisé
                avec projet et l'équipe."
          headerImage="assets/img/granaquest-blog-post.jpeg"
        ></app-blog-item>
        <app-blog-item
          class="col-sm-12 col-md-4 d-flex align-items-stretch"
          title="Mes débuts en Swift"
          date="31.07.20"
          description="Pour commencer à préparer mon poste d'alternant chez GranaQuest,
                j'ai commencé à travailler le Swift (le langage permettant de
                créer des applications pour l'écosystème Apple)"
          headerImage="assets/img/granaquest-blog-post.jpeg"
        ></app-blog-item>
        <app-blog-item
          class="col-sm-12 col-md-4 d-flex align-items-stretch"
          title="Créer une belle tabbar sur Android (java)"
          date="08.08.20"
          description="Dans cet article, je vais vous montrer comment réaliser cette
                belle tabbar avec TabLayout et ViewPager2 sur Android."
          headerImage="assets/img/android-blog-post.png"
        ></app-blog-item>
        <app-blog-item
          class="col-sm-12 col-md-4 d-flex align-items-stretch"
          title="Bilan de stage avec Granaquest"
          date="31.08.20"
          description="Avant de commencer, j'aimerais remercier Thibaut (mon maitre de
                stage) et toute l'équipe de chez Granaquest."
          headerImage="assets/img/granaquest-blog-post.jpeg"
        ></app-blog-item>
      </div>
    </div>
  </section> -->
  <app-footer></app-footer>
</body>
