<section class="mh-service">
  <div class="container">
    <div class="row section-separator d-flex justify-content-around">
      <div class="col-sm-12 text-center section-title">
        <h3 transloco="services"></h3>
      </div>
      <div class="col-sm-5 d-flex align-items-stretch">
        <div class="mh-service-item shadow-1 dark-bg">
          <img
            src="assets/img/web_developer.svg"
            class="service-logo"
            alt="web developper svg from https://undraw.co/illustrations"
          />
          <h3 transloco="dev_web"></h3>
          <p transloco="dev_web_summary"></p>
        </div>
      </div>
      <div class="col-sm-5 d-flex align-items-stretch">
        <div class="mh-service-item shadow-1 dark-bg">
          <img
            src="assets/img/mobile_prototyping.svg"
            class="service-logo"
            alt="mobile prototyping svg from https://undraw.co/illustrations"
          />
          <h3 transloco="dev_mobile"></h3>
          <p transloco="dev_mobile_summary"></p>
        </div>
      </div>
    </div>
  </div>
</section>
