/**
 * -------------------
 *  Default CSS 
 * -------------------
 */
html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "roboto", sans-serif;
  font-size: 14px;
  font-style: none;
  line-height: 24px;
  font-weight: 500;
  overflow-x: hidden !important;
  text-align: left;
  position: relative;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "roboto", sans-serif;
}

p {
  opacity: 0.9;
}

.nav li a {
  text-decoration: none !important;
  display: inline-block;
  cursor: pointer;
  padding: 0px;
  background-color: transparent;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.nav li a:focus {
  outline: 0 !important;
}

a {
  text-decoration: none !important;
  cursor: pointer;
  padding: 0px;
  background-color: transparent;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #000;
  opacity: 0.9;
}

a:focus {
  outline: 0 !important;
}

/**
 * ---------------------
 *  Default Helping Class
 * ---------------------
 */
.vertical-middle {
  display: table-cell;
  float: none;
  vertical-align: middle;
}

.section-title {
  text-align: center;
}

.section-title h3 {
  font-size: 30px;
  line-height: 40px;
  color: #fff;
  font-weight: bold;
  margin-bottom: 60px;
}

/**
 * ---------------------
 *   Default Button Style
 * ---------------------
 */
.btn {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  outline: 0;
  padding: 8px 30px;
  font-weight: bold;
  border-radius: 20px;
}

.btn:last-child {
  margin-right: 0px !important;
}

.btn .icon {
  position: relative;
  top: 2px;
}

.btn .icon img {
  position: relative;
  top: -3px;
  width: 14px;
}

.btn.btn-fill {
  background-color: #0bceaf;
  color: #fff;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: thin dotted;
  outline: 0px auto -webkit-focus-ring-color !important;
  outline-offset: -2px;
}

/** 
 * -----------------
 * Social Icon Style
 * -----------------
 */
.social-icon {
  display: inline-block;
}

.social-icon li {
  list-style: none;
  float: left;
  margin-bottom: 0px;
  margin-right: 8px;
}

.social-icon li a {
  text-align: center;
  width: 45px;
  height: 45px;
  padding: 10px;
  border-radius: 50%;
}

.social-icon li:last-child a {
  margin-right: 0px;
}

/**
 * ------------------
 * list
 * ------------------
 */
ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

/**
 * =================
 * CONTAINER HALF CONTENT
 * =================
 */
.vertical-middle-content {
  display: -moz-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

/**
 * ---------------------------------
 *  Section Background Size Property
 * ---------------------------------
 */
.dark-bg {
  background-color: #202026;
}

.section-separator {
  padding: 60px 0;
  padding-top: 100px;
}

.image-bg {
  background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  background-position: center center;
}

.map-image {
  background-image: url("/assets/img/map-color-overlay.png");
}

button {
  outline: 0;
}

button:hover {
  outline: 0;
}

button:focus {
  outline: 0;
}

.btn {
  outline: 0;
}

.btn:hover {
  outline: 0;
}

.btn:focus {
  outline: 0;
}

/** 
 * -----------------
 * General CSS
 * -----------------
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

.dark-vertion {
  opacity: 0.9;
}

.dark-vertion.black-bg {
  background-color: #100e17;
}

.dark-vertion .section-loader {
  background: #100e17;
}

.dark-vertion
  :is(::-webkit-input-placeholder, :-ms-input-placeholder, ::-ms-input-placeholder, ::placeholder, a, h2, h3, h4, h5, h6, p, address, span, div, ul
    li, .form-control, .contact-message) {
  color: #fff;
}

.dark-vertion .img-color-overlay {
  background-color: rgba(0, 0, 0, 0.9);
}

.dark-vertion .page-item.active .page-link {
  background-color: #fff;
  border-color: #fff;
  color: #0bceaf;
}

.dark-vertion .navbar-toggler :is(.icon, .icon::after, .icon::before) {
  background-color: #fff;
}

.dark-vertion .mh-header .img-personnal-logo {
  height: 45px;
  margin-left: 20px;
}

.dark-vertion .mh-header .navbar-nav li a.active {
  border-color: #fff;
  padding-right: 0;
  padding-left: 0;
}

.dark-vertion .mh-work .mh-experience-deatils .mh-work-item {
  -webkit-box-shadow: -1rem 0 3rem #000;
  box-shadow: -1rem 0 3rem #000;
}

.dark-vertion .mh-blog .mh-blog-item {
  -webkit-box-shadow: -1rem 0 3rem #000;
  box-shadow: -1rem 0 3rem #000;
}

.dark-vertion .mh-footer-address .mh-address-footer-item {
  -webkit-box-shadow: -1rem 0 3rem #000;
  box-shadow: -1rem 0 3rem #000;
}

.dark-vertion .mh-experince .mh-education-deatils .mh-education-item {
  -webkit-box-shadow: -1rem 0 3rem #000;
  box-shadow: -1rem 0 3rem #000;
}

.dark-vertion .mh-service .mh-service-item {
  -webkit-box-shadow: -1rem 0 3rem #000;
  box-shadow: -1rem 0 3rem #000;
}

.dark-vertion .candidatos .parcial .progressBar {
  background: rgba(199, 198, 198, 0.6);
}