<section
  class="mh-home"
  id="mh-home"
  data-spy="scroll"
  data-target="#mh-header"
  data-offset="0"
  [ngsReveal]="{ reset: true, cleanup: true }"
>
  <div class="container">
    <div
      class="row xs-column-reverse section-separator vertical-middle-content"
    >
      <div class="col-sm-6">
        <div class="mh-header-info">
          <div class="mh-promo">
            <span transloco="my_name_is"></span>
          </div>

          <h2>Raphaël Vasseur</h2>
          <ul>
            <li>
              <i class="fas fa-envelope"></i
              ><a href="mailto:raphael.vasseur@loungeup.com"
                >raphael.vasseur@loungeup.com</a
              >
            </li>
            <li>
              <i class="fas fa-map-marker-alt"></i>
              <address transloco="location"></address>
            </li>
          </ul>

          <ul class="social-icon">
            <li>
              <a
                href="https://www.linkedin.com/in/rapha%C3%ABl-vasseur-7a1067174/"
                ><i class="fab fa-linkedin-in"></i
              ></a>
            </li>
            <li>
              <a href="https://github.com/rvasseur31"
                ><i class="fab fa-github"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="hero-img">
          <div class="img-border">
            <img
              src="/assets/img/me.webp"
              alt="picture of me"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
